<div class="app-brand justify-content-center my-5">
    <a href="" class="app-brand-link">
      <div class="avatar">
        <img src="/images/logo.png" alt class="w-px-40 h-auto rounded-circle">
      </div>
        <span class="app-brand-text demo menu-text fw-bold ms-2" style="color: #696cff;">Eagle<span style="color: white; text-shadow: -1px -1px 0 #696cff, 1px -1px 0 #696cff, -1px 1px 0 #696cff, 1px 1px 0 #696cff;">Mind
          </span>
      </span>

    </span>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
</div>