<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <%- include('logo.ejs') %>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Home -->
    <li class="menu-item">
      <a href="/student-app" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div class="text-truncate">Home</div>
      </a>
    </li>

    <!-- Appointments -->
    <li class="menu-item">
      <a href="/appointments" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar-check"></i>
        <div class="text-truncate">Appointments</div>
      </a>
    </li>

    <!-- Messages -->
    <li class="menu-item">
      <a href="/messages" class="menu-link">
        <i class="menu-icon tf-icons bx bx-message-dots"></i>
        <div class="text-truncate">Messages</div>
      </a>
    </li>

    <!-- Notifications -->
    <li class="menu-item">
      <a href="/notifications" class="menu-link">
        <i class="menu-icon tf-icons bx bx-bell"></i>
        <div class="text-truncate">Notifications</div>
      </a>
    </li>

    <!-- Psycho Testing -->
    <li class="menu-item">
      <a href="/psychotests" class="menu-link">
        <i class="menu-icon tf-icons bx bx-brain"></i>
        <div class="text-truncate">Psycho Testing</div>
      </a>
    </li>

    <!-- Forums -->
    <li class="menu-item">
      <a href="/forums" class="menu-link">
        <i class="menu-icon tf-icons bx bx-comment-detail"></i>
        <div class="text-truncate">Forums</div>
      </a>
    </li>

    <!-- Mood Trends -->
    <li class="menu-item">
      <a href="/student/mood-trend" class="menu-link">
        <i class="menu-icon tf-icons bx bx-line-chart"></i>
        <div class="text-truncate">Mood Trends</div>
      </a>
    </li>

    <!-- Source Materials -->
    <li class="menu-item">
      <a href="/source-materials" class="menu-link">
        <i class="menu-icon tf-icons bx bx-book-open"></i>
        <div class="text-truncate">Source Materials</div>
      </a>
    </li>

    <!-- Directory -->
    <li class="menu-item">
      <a href="/directory" class="menu-link">
        <i class="menu-icon tf-icons bx bx-book-content"></i>
        <div class="text-truncate">Directory</div>
      </a>
    </li>
  </ul>
</aside>
