<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <%- include('logo.ejs') %>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item">
      <a href="/counselor-app" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div class="text-truncate" data-i18n="Dashboard">Home</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselor/appointments/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar-check"></i>
        <div class="text-truncate" data-i18n="Forms">Appointments</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselor/messages/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar-check"></i>
        <div class="text-truncate" data-i18n="Forms">Online appointments</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselor/psycho-tests/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-brain"></i>
        <div class="text-truncate" data-i18n="Forms">Psycho Tests</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselor/forums/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-brain"></i>
        <div class="text-truncate" data-i18n="Forms">Forums</div>
      </a>
    </li>


    <li class="menu-item">
      <a href="/create/resources/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-book-content"></i>
        <div class="text-truncate" data-i18n="Forms">Resource List</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselor/availability/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-time"></i>
        <div class="text-truncate" data-i18n="Forms">My Availability</div>
      </a>
    </li>

  </ul>
</aside>
