<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->
  <div class="p-4" >
    <a href="../" class="text-nowrap">

        <div class="flex items-center gap-3" >
          <img
            src="/images/logos/paw.png"
            alt="PetSupport Logo"
            style="width: 50px; height: 50px;"
          />
          <h1 class="text-lg font-bold">
              Pet <span class="text-slate-700">Transpo</span> Admin
          </h1>
        </div>
      </a>
  </div>
  <div class="scroll-sidebar" data-simplebar="">
      <nav class=" w-full flex flex-col sidebar-nav px-4 mt-5">
        <ul  id="sidebarnav" class="text-gray-600 text-sm">
          <li class="text-xs font-bold pb-[5px]">
            <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
            <span class="text-xs text-gray-400 font-semibold">NAVIGATION</span>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link gap-3 py-2.5 my-1 text-base  flex items-center relative  rounded-md text-gray-500  w-full" href="/"
             >
              <i class="ti ti-layout-dashboard ps-2  text-2xl"></i> <span>Dashboard</span>
            </a>
          </li>
  

  
          <li class="sidebar-item">
            <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="/users"
             >
              <i class="ti ti-users  ps-2 text-2xl"></i> <span>Users</span>
            </a>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="/riders"
             >
              <i class="ti ti-bike ps-2 text-2xl"></i> <span>Riders</span>
            </a>
          </li>        
  
          <li class="sidebar-item">
            <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="/transactions"
             >
              <i class="ti ti-cards ps-2 text-2xl"></i> <span>Transactions</span>
            </a>
          </li>   
  
          <li class="sidebar-item">
            <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="/pending-riders"
             >
              <i class="ti ti-file-description ps-2 text-2xl"></i> <span>Pending Riders</span>
            </a>
          </li> 
  

          
          
  
        </ul>
      </nav>
  </div>
  

  <!-- </aside> -->