<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <%- include('logo.ejs') %>
 


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">


    <li class="menu-item">
      <a href="/student-app" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div class="text-truncate" data-i18n="Dashboard">Home</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/appointments" class="menu-link">
        <i class="menu-icon tf-icons bx bx-notepad"></i>
        <div class="text-truncate" data-i18n="Forms">Appointments</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/forums" class="menu-link">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div class="text-truncate" data-i18n="Users">Forums</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-info-circle"></i>
        <div class="text-truncate" data-i18n="About">About</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div class="text-truncate" data-i18n="Settings">Settings</div>
      </a>
    </li>



  </ul>


</aside>
