<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <%- include('logo.ejs') %>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="/admin-app" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-alt"></i>
        <div class="text-truncate" data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/appointments" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar-check"></i>
        <div class="text-truncate" data-i18n="Forms">Appointments</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/admin/psycho-testing" class="menu-link">
        <i class="menu-icon tf-icons bx bx-brain"></i>
        <div class="text-truncate" data-i18n="Forms">Psycho Testing</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/classes" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div class="text-truncate" data-i18n="Forms">Classes</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/students" class="menu-link">
        <i class="menu-icon tf-icons bx bx-id-card"></i>
        <div class="text-truncate" data-i18n="Forms">Students</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/counselors" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-voice"></i>
        <div class="text-truncate" data-i18n="Forms">Counselors</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/mayors" class="menu-link">
        <i class="menu-icon tf-icons bx bx-crown"></i>
        <div class="text-truncate" data-i18n="Forms">Mayors</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/students/unassigned" class="menu-link">
        <i class="menu-icon tf-icons bx bx-time-five"></i>
        <div class="text-truncate" data-i18n="Forms">Pending Students</div>
      </a>
    </li>

    <!-- New menu items for Departments and Programs -->
    <li class="menu-item">
      <a href="/departments" class="menu-link">
        <i class="menu-icon tf-icons bx bx-buildings"></i>
        <div class="text-truncate" data-i18n="Departments">Departments</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/programs" class="menu-link">
        <i class="menu-icon tf-icons bx bx-layer"></i>
        <div class="text-truncate" data-i18n="Programs">Programs</div>
      </a>
    </li>
  </ul>
</aside>
