<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <%- include('logo.ejs') %>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="/admin-app" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-alt"></i>
        <div class="text-truncate">Dashboard</div>
      </a>
    </li>

    <!-- Transactions Dropdown -->
    <li class="menu-item has-sub">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-transfer-alt"></i>
        <div class="text-truncate">Transactions</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/appointments" class="menu-link">
            <div>Appointments</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/psycho-testing" class="menu-link">
            <div>Psycho Testing</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Libraries Dropdown -->
    <li class="menu-item has-sub">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-library"></i>
        <div class="text-truncate">Libraries</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/students" class="menu-link">
            <div>Students</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/counselors" class="menu-link">
            <div>Counselors</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/mayors" class="menu-link">
            <div>Mayors</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/classes" class="menu-link">
            <div>Classes</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/programs" class="menu-link">
            <div>Programs</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/departments" class="menu-link">
            <div>Colleges</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Pending Students -->
    <li class="menu-item">
      <a href="/students/unassigned" class="menu-link">
        <i class="menu-icon tf-icons bx bx-time-five"></i>
        <div class="text-truncate">Pending Students</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/import" class="menu-link">
        <i class="menu-icon tf-icons bx bx-time-five"></i>
        <div class="text-truncate">Import</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin-summary" class="menu-link">
        <i class="menu-icon tf-icons bx bx-time-five"></i>
        <div class="text-truncate">Reports</div>
      </a>
    </li>
  </ul>
</aside>
