<!DOCTYPE html>
<html   lang="en" dir="ltr" >

<head>
	<%- include('includes/head.ejs') %>
	<title>Login</title>
</head>

<body class="DEFAULT_THEME ">
	<main>
				<!-- Main Content -->
                <div class="flex flex-col w-full  overflow-hidden relative min-h-screen radial-gradient items-center justify-center g-0 px-4">
                  
                    <div class="justify-center items-center w-full card lg:flex max-w-md ">
                        <div class=" w-full card-body">
                            <div class="flex justify-center gap-2 py-2">
                                <img src="/images/logos/paw.png" style="width: 35px; height: 35px;">


                                <p class="mb-4  text-gray-400 text-lg text-center font-bold">The PetSupport Admin Login</p>

                            </div>
                            <!-- form -->
                            <form method="post" action="/login">
                                <!-- username -->
                                <div class="mb-4">
                                    <label for="forUsername"
                                    class="block text-sm mb-2 text-gray-400">Username</label>
                                <input type="text" id="forUsername" name="username"
                                    class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                                </div>
                                <!-- password -->
                                <div class="mb-6">
                                    <label for="forPassword"
                                    class="block text-sm  mb-2 text-gray-400">Password</label>
                                <input type="password" id="forPassword" name="password"
                                    class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 " aria-describedby="hs-input-helper-text">
                                </div>
                                <% if (typeof error !== 'undefined') { %>
                                    <div class="mb-4 flex items-center  rounded-sm align">
                                        <i class="ti ti-exclamation-circle text-xl error-message"></i>
                                        <span class="error-message"><%= error %></span>
                                    </div>
                                <% } %>
                                    
                                <!-- checkbox -->
                                  <div class="flex justify-between">
                                    <div class="flex">
                                        <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded-[4px] text-blue-600 focus:ring-blue-500 " id="hs-default-checkbox" checked>
                                        <label for="hs-default-checkbox" class="text-sm text-gray-500 ms-3">Remeber this Device</label>
                                      </div>
                                        <a href="../" class="text-sm font-semibold text-blue-600 hover:text-blue-700">Forgot Password ?</a>
                                  </div>
                                    <!-- button -->
                                      <div class="grid my-6">
                                        <button
                                            type="submit"
                                            class="rounded-sm w-full py-2 px-4 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                                        >
                                            Sign in
                                        </button>
                                      </div>
        
                                    <div class="flex justify-center gap-2 items-center">
                                        <p class="text-base font-semibold text-gray-400">Don't have an account?</p>
                                        <a href="/register" class="text-sm font-semibold text-blue-600 hover:text-blue-700">Create an account</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
				
			</div>
		<!--end of project-->
	</main>


	<%- include('includes/scripts.ejs') %>
</body>

</html>