.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.overflow-x-auto {
    overflow-x:hidden !important    ;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

label {
    font-weight: 500;
    margin-bottom: .5rem;
}

label {
    display: inline-block;
}


.form-select {
    display: block;
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6b7280;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231F2937' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
    border: .0625rem solid #d1d5db;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px rgba(17, 24, 39, .0125);
    -webkit-appearance: none;
    appearance: none;
}

.form-select-sm {
    padding-top: .375rem;
    padding-bottom: .375rem;
    padding-left: .625rem;
    font-size: .875rem;
}
.form-control-sm {
    min-height: calc(1.5em + .875rem);
    padding: .375rem .625rem;
    font-size: .875rem;
    border-radius: .5rem;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60%;
    display: inline-block;
}


[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

.dataTables_wrapper .dataTables_info {
    padding-left: 1.5rem;
}
.dataTables_wrapper .dataTables_paginate {
    padding-right: 1.5rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.disabled {
    cursor: not-allowed;
}

.p, ol li, p, ul li {
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}   

.page-item:first-child .page-link {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.page-item.disabled .page-link {
    color: #4b5563;
    pointer-events: none;
    background-color: #fff;
    border-color: #d1d5db;
}
.page-link {
    padding: .375rem .75rem;
}
.page-link {
    position: relative;
    display: block;
    color: #1f2937;
    background-color: #fff;
    border: .0625rem solid #9ca3af;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}





.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1f2937;
    border-color: #1f2937;
}
.page-item:not(:first-child) .page-link {
    margin-left: -.0625rem;
}
.page-link {
    padding: .375rem .75rem;
}
.page-link {
    position: relative;
    display: block;
    color: #1f2937;
    background-color: #fff;
    border: .0625rem solid #9ca3af;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.page-item:last-child .page-link {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}



@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66667%;
    }
}



@media (min-width: 768px) {
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333%;
    }
}


.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #374151;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .5rem 1rem;
    font-size: .875rem;
    border-radius: .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.error-message {
    color: red;
}
.dataTables_empty {
    padding: 1em 0;
    color: red;
}
.btn-secondary {
    color: #1f2937;
    background-color: #e5f3fb;
    border-color: #e5f3fb;
    color: #006aaf;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(17, 24, 39, .075);
}
.btn-secondary:hover {
    background-color: blue;
    border-color: white;
}
.btn-secondary:hover {
    background-color: blue;
    border-color: white;
    color: white;
}
.btn-secondary span {
    color: inherit;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}


.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.table-settings .btn {
    /* margin: 0 10px; */
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

